body{
    background-image: url("../img/fundoedt1.png");
    position: absolute;
    top: 50%;
    transform: translatey(-50%);

}
.titulo{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10%;
    color: aliceblue;
}
.btn{
    margin-top: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 15px;
}
i{
    color:aliceblue;
    float: right;
    margin-right: 14%;
}